@tailwind base;
@tailwind components;
@tailwind utilities;


*, ::after, ::before {
    scroll-behavior: smooth;
}

body {
    background-color: #101010;
    color: #FCFCFC;
    font-family: 'Lato', sans-serif;
}

h3, p {
    display: inline-block;
    vertical-align: top;
  }

// Classes

.hovered {
    transform: translateX(2px);
}